*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login__page{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.inp{
    margin-top: 20%;
}
input{
    margin: 10px;
}
table tbody,tr,td,th{
    border: 4px solid black;
    padding: 20px;
}