{% extends 'base.html' %} 
{% block title %} SignUp Page {% endblock %}
 {% block content%}
{% if error %}
<div class="alert">
  <span class="clsbtn" onclick="this.parentElement.style.display='none'">&times;</span>
  {% for err in error %}
  {{err}}
  {% endfor %}
</div>
{%else %}
{% endif %}
<div class="container">
  <form action="" method="post">
    {{form.hidden_tag()}}
    <h1>Create Meting</h1>
    <div class="row">
      <div class="form_label">
        {{form.topic.label()}}
      </div>
      <div class="form_input">
        {{form.topic(class="form-control",placeholder="topic for meet")}}
      </div>
    </div>
    <div class="row">
      <div class="form_label">
        {{form.duration.label()}}
      </div>
      <div class="form_input">
        {{form.duration(class="form-control")}}
      </div>
    </div>
    <div class="row">
      <div class="form_label">
        {{form.start_time.label()}}
      </div>
      <div class="form_input">
        {{form.start_time()}}
      </div>
    </div>
    <div class="row">
      <div class="form_label">
        {{form.agenda.label()}}
      </div>
      <div class="form_input">
        {{form.agenda(class="form-control",placeholder="Enter agenda for meet")}}
      </div>
      {{form.submit(class="btn")}}
    </div>
  </form>
</div>




{% endblock %}