{% extends 'base.html' %} 
{% block title %} Login Page {% endblock %} 
{% block content%}

<div class="container">
    <form action="" method="post">
        {{form.hidden_tag()}}
        <h1>User Login</h1>
        <div class="row">
            <div class="form_label">
                {{form.username.label()}}
            </div>
            <div class="form_input">
                {{form.username(class="form-control",placeholder="Username")}}
            </div>
        </div>
        <div class="row">
            <div class="form_label">
                {{form.password.label()}}
            </div>
            <div class="form_input">
                {{form.password(class="form-control",placeholder="password")}}
            </div>
            {{form.submit(class="btn")}}
        </div>
    </form>
</div>


{% endblock %}